<h2>Instagramm Applicatioins</h2>

<table>
<% @pic.each do |pic|%>
<tr>
<td><%=link_to pic.title, pic%></td>
<td><%#=pic.description%></td>
<td><%=link_to (image_tag pic.image.url(:medium)), pic%></td>

</tr>
<%end%>
</table>
<%=link_to "Add your new post" ,new_pic_path%>
